---
import { Icon } from "astro-icon/components";

interface Props {
	title: string;
	url: string;
}

const { title, url } = Astro.props;
---

<a href={url}
   class="transition group w-full block font-bold mb-3 text-3xl text-90
   hover:text-[var(--primary)] dark:hover:text-[var(--primary)]
   active:text-[var(--title-active)] dark:active:text-[var(--title-active)]
   before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)]
   before:absolute before:top-[35px] before:left-[18px] before:hidden md:before:block">
  {title}
  <Icon class="inline text-[2rem] text-[var(--primary)] md:hidden translate-y-0.5 absolute" name="material-symbols:chevron-right-rounded"></Icon>
  <Icon class="text-[var(--primary)] text-[2rem] transition hidden md:inline absolute translate-y-0.5 opacity-0 group-hover:opacity-100 -translate-x-1 group-hover:translate-x-0" name="material-symbols:chevron-right-rounded"></Icon>
</a>