---
import { Icon } from "astro-icon/components";

interface Props {
	url: string;
	title: string;
}

const { url, title } = Astro.props;
---

<a href={url} aria-label={title} class="!hidden md:!flex btn-regular w-[3.25rem]
   absolute right-3 top-3 bottom-3 rounded-xl bg-[var(--enter-btn-bg)]
   hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95">
  <Icon name="material-symbols:chevron-right-rounded"
        class="transition text-[var(--primary)] text-4xl mx-auto">
  </Icon>
</a>