---
import I18nKey from "../../i18n/i18n-keys";
import { i18n } from "../../i18n/translation";

interface Props {
	words: number;
	minutes: number;
	class?: string;
}

const { words, minutes, class: className } = Astro.props;
---

<div class:list={["text-sm text-black/30 dark:text-white/30 flex gap-4 transition", className]}>
  <div>
    {words} {" " + i18n(words === 1 ? I18nKey.wordCount : I18nKey.wordsCount)}
  </div>
  <div>|</div>
  <div>
    {minutes} {" " + i18n(minutes === 1 ? I18nKey.minuteCount : I18nKey.minutesCount)}
  </div>
</div>